
<div class="container">
  <app-button [dataX]="-1" [dataY]="1"></app-button>
  <app-button [dataX]="0" [dataY]="1"></app-button>
  <app-button [dataX]="1" [dataY]="1"></app-button><br>
  <app-button [dataX]="-1" [dataY]="0"></app-button>
  <app-button [dataX]="0" [dataY]="0"></app-button>
  <app-button [dataX]="1" [dataY]="0"></app-button><br>
  <app-button [dataX]="-1" [dataY]="-1"></app-button>
  <app-button [dataX]="0" [dataY]="-1"></app-button>
  <app-button [dataX]="1" [dataY]="-1"></app-button><br>
</div>
